#menuprincipal{
    width: 20%;
    margin-left: 2px;
    margin-top: 2px;
    border-color: aqua;
    border-style: solid;
    background-color: aqua;
    float: left;
    border-radius: 10px 10px 10px 10px;
}

img#tamañoimg{
margin-left: 25%;
width: 550px;
height: 250px;

}
#contenido{
    width: 45%;       
    border-width: 5px;
    border-color: aquamarine;
    border-style: solid;
    float: left;
    background-color: aqua;

}
#contenido2{
    width: 29%;       
    border-width: 5px;
    border-color: aqua;
    border-style: solid;
    float: left;
    background-color: aqua;
    margin-left: 6px;
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 5px;

}

#ft{
    height: 70%;
    width: 98.6%;
    margin-left: 2px;
    border-width: 5px;
    border-color: aquamarine;
    border-style: solid;
    background-color: aqua;
    margin-bottom: 5px;
    margin-top: 10px;
    clear: both;
}
#tamaño{
margin-left: 10%;
    width: 420px;
    height: 320px;
    
}
.ubicacion{
    margin-left: 6px;
    margin-top: 3px;
    padding-left: 10px;
    padding-right: 5px;         
}
.im{
    background-image: url("videojuegos.jpg");
background-repeat: repeat;
background-color: transparent;
background-position: top;
background-size: 20%;
    
}
#prt{
border-color: aqua;
border-style: solid;
width: 98.8%;
margin-left: 2px;
margin-top: 5px;
margin-right: 2px;
background-color: black;
}

.tamañobod{
border-width: 3px;
border-color: aqua;
border-style: solid;


}
