h1,h2{
    color: red;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a h2{
    color: white !important;
}
nav{
    line-height: 2cm;
    font-size: 18pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form{
    line-height: 1cm;
}
footer{
    font-size: 14pt; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
a:visited{
    color: white;
}
a:hover{
    color:red;
}
a:active{
    color: black;
}
ul,ol{
     color: yellowgreen;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table{
    border: black solid;
    border-color: black;
    border-collapse: collapse;
    margin-left: 25%;
    margin-bottom: 5%;
 
}
td,th{
    border: 1px solid black;
}
p b{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
input:focus{
    border: 2px solid;
    background: #f3f3f3;
}
aside p{
    font-family: cursive;
}